<div class="history">
    <h3 class="title history__title">История игр</h3>

    <table class="history__table">
        <tr>
            <th colspan="5" class="tabel__player__title">Игроки</th>
            <th class="tabel__player__title">Дата</th>
            <th class="tabel__player__title">время игры</th>
        </tr>
        <tr>
            <th class="tabel__player__img"><img src="/assets/img/Union.svg" alt=""></th>
            <th class="history__table_par history__table_par_img">Терещенко У. Р <img src="/assets/img/cupRovn.svg" alt=""></th>
            <th>vs</th>
            <th class="tabel__player__img"><img src="/assets/img/zero.svg" alt=""></th>
            <th class="history__table_par">Многогрешный П. В.</th>
            <th class="history__table_par">12 февраля 2022</th>
            <th class="history__table_par">43 мин 13 сек</th>
        </tr>
        <tr>
            <th class="tabel__player__img"><img src="/assets/img/Union.svg" alt=""></th>
            <th class="history__table_par history__table_par_img">Терещенко У. Р </th>
            <th>vs</th>
            <th class="tabel__player__img"><img src="/assets/img/zero.svg" alt=""></th>
            <th class="history__table_par history__table_par_img">Многогрешный П. В. <img src="/assets/img/cupRovn.svg" alt=""></th>
            <th class="history__table_par">12 февраля 2022</th>
            <th class="history__table_par">43 мин 13 сек</th>
        </tr>
    </table>
</div>